.lnd-outer-container{
    --horizontalPadding: 16px;
    --verticalPadding: 24px;
  
    padding: var(--verticalPadding) var(--horizontalPadding);
  
}
.desk-screen{
  @media (max-width: 768px) {
  display: none;

  }
}
.tab{
    --border: #e1e4e8;
    --ticker: rgba(209,213,218,.5);
    --orange: #f9826c;
    --gray-light: #6a737d;


    background: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
  
    .content {
      display: flex;
      align-items: center;
      width: min-content;
      cursor: pointer;
      border-bottom: 2px solid transparent;
  
      padding: 14px 16px;
      @media (max-width: 768px) {
        font-size: 10px;
        padding:0 12px;

      }
      // :hover {
      //   border-bottom: 2px solid var(--border);
      // }
  
      .label {
        font-size: 14px;
        padding: 0 7px;
        font-weight: 600;
        @media (max-width: 768px) {
          font-size: 12px;
          padding: 0 2px;

        }
      }
     
      .number {
        background: var(--ticker);
  
        display: inline-block;
        min-width: 20px;
        padding: 0 6px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 2em;
      }
    }
  
    .active {
      border-bottom: 2px solid var(--orange);
  
      // :hover {
      //   border-bottom: 2px solid var(--orange);
      // }
    }
  
    .line {
      display: flex;
      width: 200vw;
      border-bottom: 1px solid var(--border);
      margin-left: -50vw;
      margin-top: -2px;
      @media (max-width: 768px) {
     display: none;
      }
    }
  

    .desktop {
    
      
        display: unset;
  
        .wrapper {
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          max-width: 1280px;
          display: inline-flex !important;
        }
  
        .offset {
          width: 25%;
          margin-right: var(--horizontalPadding);
        }
      
    }
}
.repos{
    margin-top: var(--verticalPadding);
    position: relative;
  
    > .repo-link {
      position: absolute;
      font-size: 14px;
      color: var(--link);
      top: 0;
      right: 0;
    }
  
    > h2 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
    }
    > div {
      margin-top: 8px;
  
      display: grid;
      grid-gap: 16px;
  
      grid-template-columns: 1fr;
  
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
      }
    }
}
.fw{
    width: 100%;
}
.mt-10{
    margin-top: 10px;
}
.heat-head{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}